.header{
    height: 293px;

    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    align-items:center;
    font-family: Raleway, sans-serif;
    font-size: 18px;  
}
.header__menu{

}
.header__links-list{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-left: 17px;
}
.header__links-list-item{
    list-style: circle;
    text-underline-offset: 4px;
}
.header__links-list-item_no-bullit{
    list-style: none;
    text-decoration: none;
}

.header__logo-image{
    display: block;
    width: 135px;
    height: 104px;
    margin-left: 13px;

}
.address{
    font-style: normal; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 230px;
    margin-left: 26px;
    gap: 3px;
}
.header__link_decoration{
    text-underline-offset: 4px;
}


.cover {
    min-height: 757px;
    position: relative;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
}
.cover {
  display: flex;
}
.overlay{
    position: absolute;
    background: rgba(0,0,0,0.6);
    inset: 0;
}
.button{
    color: white;
    text-transform: uppercase;
     border: 1px solid white;
    background-color: transparent;
}
.description {

}
.lots{

}
.about{

}
.footer{

}