.header {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    align-items:center;
    font-size: 18px;
    padding-top: 92px;
    padding-bottom: 97px;
}
.header__links-list {
    display: flex;
    justify-content: center;
    gap: 34px;
    margin-left: 19px;
}
.header__links-list-item {
    list-style: circle;
    text-underline-offset: 4px;
}
.header__links-list-item_no-bullit {
    list-style: none;
    text-decoration: none;
}
.header__logo-image {
    display: block;
    width: 135px;
    height: 104px;
    margin-left: 13px;
}
.address-block {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 .address-block__header {
    width: 230px;
    margin-left: 26px;
    gap: 4px;
}
.address-block__link {
    text-underline-offset: 3px;
}
.cover {
    min-height: 757px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 165px;
}
.overlay {
    position: absolute;
    background: rgba(0,0,0,0.6);
    inset: 0;
    z-index: 1;
}
.aligned-text {
    position: relative;
    text-transform: uppercase;
    color: white;
    z-index: 2;
    font-weight: 700;
    font-size: 100px;
    display: flex;
    width: 100%;
    flex-direction: column;
    letter-spacing: 0.3em;
}
.aligned-text_left {
  align-self: flex-start;
  margin-left: 50px;
}
.aligned-text_center {
  align-self: center;
  margin-top: 17px;
  margin-left: 30px;
}
.aligned-text_right {
  align-self: flex-end;
  margin-top: 17px;
  margin-right: 20px;
}
.description {
    text-transform: uppercase;
    font-size: 22px;
    position: relative;
    color: white;
    margin-top: auto;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 50px;
    word-spacing: 0.85em;
}
.button {
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    border: 1px solid white;
    background-color: transparent;
    z-index: 2;
    width: 256px;
    height: 51px;
    margin-right: 50px;
}
.lots {
    padding-top: 180px;
}
.lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 65px;
    padding-bottom: 27px;
}
.lots__card-list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}
.lots__card-list-item {
    list-style: none;
    width: 334px;
    min-height: 596px;
}
.card-link {
display: block;
height: 100%;
text-decoration: none;
}
.card {
    position:relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    background-size: cover;
    background-position: center;
}
.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}
.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}
.card__title {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline 1px white;
    text-underline-offset: 2px;
    line-height: 1.2;
    z-index: 2;
}
.card__text {
    margin-top: auto;
    color: white;
    font-size: 22px;
    letter-spacing: -0.05em;
    line-height: 1.08;
    z-index: 2;
}
.link-more {
    display: inline-block;
    margin-top: 30px;
    margin-left: 64px;
    font-size: 20px;
    text-underline-offset: 5px;
    text-decoration: underline 1px
}
.about {
    padding-top: 156px;
    display: grid;
    grid-template-columns: 337px 690px;
    gap: 45px;
}
.about__logo {
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    width:240px;
    height: 240px;
    border-radius: 50%;
    background: black;
}
.about__logo-image {
    display: block;
    width: 141px;
    height: 112px;
}
.about__title {
    display: flex;
    padding-top: 100px;
    padding-bottom: 94px;
    align-items: center;
    font-size: 40px;
    text-transform: uppercase;
}
.about__text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 27px;
    margin-top: 7px;
}
.footer {
    padding-top: 185px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 18px;
    padding-bottom: 82px;
}
 .address-block__footer {
    width: 240px;
    margin-left: 53px;
    gap: 3px;
}
.footer__menu {
    display: flex;
    justify-content: center;
    margin-top: -3px;
}
.footer__menu-list {
    display:  flex;
    flex-direction: column;
    align-items: center;
}
.footer__menu-list-item {
    list-style: none;
}
.footer__menu-link {
    text-underline-offset: 4px;
}
.footer__menu-link_no-bullit {
    text-decoration: none;
}
.footer__social-list {
    display:  flex;
    justify-content: flex-end;
    gap: 48px;
    margin-right: 48px;
}
.footer__social-list-item {
    list-style: none;
}
.footer__social-icon {
    width: 48px;
height: 48px;
    display: block;
}