.header{
    height: 293px;

    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    align-items:center;
    font-family: Raleway, sans-serif;
    font-size: 18px;  
}
.header__menu{

}
.header__links-list{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-left: 17px;
}
.header__links-list-item{
    list-style: circle;
    text-underline-offset: 4px;
}
.header__links-list-item_no-bullit{
    list-style: none;
    text-decoration: none;
}

.header__logo-image{
    display: block;
    width: 135px;
    height: 104px;
    margin-left: 13px;

}
.address{
    font-style: normal; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 230px;
    margin-left: 26px;
    gap: 3px;
}
.header__link_decoration{
    text-underline-offset: 4px;
}


.cover {
    min-height: 757px;
    position: relative;
    display: flex;
    flex-direction: column; 
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 165px; 
}

.overlay{
    position: absolute;
    background: rgba(0,0,0,0.6);
    inset: 0; 
    z-index: 1;
}
.aligned-text{
    position: relative;
    text-transform: uppercase;
    color: white;
    z-index: 2;
    font-weight: 700;
    font-size: 100px;
    display: flex;
    width: 100%;
    flex-direction: column;
    letter-spacing: 0.3em;
}
.aligned-text_left {
  align-self: flex-start;
  margin-left: 50px;
}
.aligned-text_center {
  align-self: center;
  margin-top: 17px;
  margin-left: 30px;
}
.aligned-text_right {
  align-self: flex-end;
  margin-top: 17px;
  margin-right: 20px;
}
.description {
    text-transform: uppercase;
    font-size: 22px;
    position: relative;
    color: white;
    margin-top: auto;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 50px;
    word-spacing: 0.85em; 

}
.button{
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    border: 1px solid white;
    background-color: transparent;
    z-index: 2;
    width: 256px;
    height: 51px;
    margin-right: 50px;
}
.lots{

}
.about{

}
.footer{

}